.btn{
	.fp;
	.border-radius(4px);
	margin: 0;
	padding: 0 40px;
	border : 0;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: #a0a4a5;
	&:hover{
		background: darken(#a0a4a5,10%);
	}
}